@import url('./styles.css');
/* ***********CERTIFICATION SECTION************ */
/* *********** SLIDE SECTION - SMALL SCREENS************ */
main{
    background-color: white;
}
.cert h1{
    color: navy;
    text-align: center;
    padding-top: 1rem;
    font-size: 2.5rem;
}
/* .works-cont h2{
    color: black;
} */
.cert-cont{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: navy;
    max-height: 100vh;
}
.slider{
    color: black;
    background-color: rgba(228, 226, 226, 0.559);
    border-radius: 18px;
    box-shadow: 4px 3px 3px #bdb4f6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    margin: auto;
}
.cert-title{
    font-weight: 600;
}
.works-cont #img-cont{
    margin: 1rem 0;
    width: 95%;
    height: 100%;
    object-fit: cover;
}
.cert-desc{
    background-color: navy;
    border-radius: 0 0 18px 18px;
    color: yellow;
    text-align: left;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 2rem;

}
/* .works .work-img img{
    object-fit: cover;
    object-position: top;
    margin: 0 auto;  
  } */
  
  /* #slide-cont {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  .slider button {
    position: absolute;
    padding: 0.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.292);
    cursor: pointer;
    border-radius: 8px;
  }
  #next {
    right: .3rem;
    width: 2rem;
  }
  #prev {
    left: .3rem;
    width: 2rem;
  }
  #next,#prev:hover{
    color: navy;
  }
  #last{
      text-align: center;
      padding: .8rem;
  }
  
/* BIGGER SCREEN SIZES */
@media screen and (min-width: 750px) {
    #next, #prev{
        display: none;
    }
}



/* ***********CONTACT ME SECTION************ */
/* SMALL SCREENS */
#con{
    background-color: navy;
    color: white;
}
#con h2{
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 0 .3rem 0;
}
.line{
    height: 3px;
    width: 70%;
    margin: 0 auto;
    background-color: yellow;
}
#con .form-text{
    font-weight: 300;
    padding: 1rem;
}
legend{
    text-align: center;
    color: yellow;
    font-size: 2rem;
    padding: 1rem;
}
label{
    display: block;
}
input, select, textarea{
    display: block;
    font-size: 1.4rem;
    background-color: #003;
    color: yellow;
    border: none;
    padding: 1rem 1rem;
    font-size: 1.6rem;
    border-radius: 25px;
    outline: none;
}
select, textarea{
    width: 100%;
    font-size: 1.25rem;
}
option{
    font-size: 1.5rem;
}
fieldset, .form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
textarea{
    font-size: 1.5rem;
}
button{
    padding: 1rem;
    background-color: yellow;
    color: #003;
    font-size: 1.8rem;
    width: 60%;
    margin: 0 auto 2rem;
    border: none;
    border-radius: 20px;
}
button:hover{
    background-color: transparent;
    color: yellow;
}

/* BIGGER SCREEN SIZES */
@media screen and (min-width: 750px) {
    #con .form-text{
        font-size: 2.5rem;
    }
    legend{
        font-size: 3rem;
    }
    label{
        font-size: 1.8rem;
    }
    input, select, textarea{
        font-size: 2rem;
        padding: 1rem 2rem;
    }
    select, textarea{
        font-size: 2.25rem;
    }
    textarea{
        height: 300px;
    }
    option{
        font-size: 1.7rem;
    }

    fieldset, .form{
        width: 70%;
        background-color: rgba(4, 4, 100, 0.808);
    }
    button{
        width: 40%;
    }
}