/* GENERAL STYLES */

/* REMEMBER YOU COMMENTED THE TOP MARGIN FOR THE HRO AND REMOVED THE FIXED DISPLAY OF THE HEADER */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.5rem;
  min-height: 100vh;
  background-color: #003;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.show-navBar {
  display: block;
}
.hide-navBar {
  display: none;
}

/* UTILITY CLASSES */
.nowrap {
  white-space: nowrap;
}

/* ***************HEADER SECTION**************** */
/* SMALLEST SCREEN SIZES */
.h-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: navy;
  position: fixed;
  padding: .5rem;
}
.menu-btn {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin: 0;
  width: 10%;
}

.logo {
  color: white;
  font-size: 3.5rem;
}
.logo span {
  color: yellow;
}

/* *****NAVS**** */
.small-scr {
  animation: dropDown 0.5s ease-in-out forwards;
  margin-top: 4.8rem;
}
.big-scr {
  display: none;
  animation: dropDown 0.5s ease-in-out forwards;
}
.small-scr ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 248, 59);
  min-width: 100%;

}
.small-scr ul li {
  list-style-type: none;
  width: 100%;
  
}
.fa-bars {
  color: yellow;
  font-size: 2.3rem;
  cursor: pointer;
}
.small-scr ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: navy;
  font-size: 1.8rem;
  font-weight: bold;
}
.small-scr ul li a:hover {
  background-color: azure;
  cursor: pointer;
}

@keyframes dropDown {
  0% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(1);
  }
}

/* BIGGER SCREENS */
@media screen and (min-width: 750px) {
  .small-scr {
    display: none;
  }
  .big-scr {
    display: block;
  }
  .big-scr ul {
    display: flex;
    /* flex-flow: row nowrap; */
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .big-scr ul li {
    list-style-type: none;
    width: 100%;
  }
  .big-scr ul li a {
    text-decoration: none;
    color: White;
    font-size: 2.3rem;
    font-weight: light;
  }
  .big-scr ul li a:hover {
    background-color: yellow;
    color: navy;
    padding: 0.3rem;
    border-radius: 0.9rem;
  }
  .menu-btn {
    display: none;
  }
}

/* ***************HERO SECTION**************** */
/* SMALLEST SCREEN SIZES */
.hero {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 100%;
  /* scroll-margin-top: 4.3rem; */
}
.mt {
  margin-top: 4.8rem;
}
.mb{
  margin-bottom: 1.7rem;
}
.hero .img {
  margin-top: 1rem;
}
.hero #my-pic {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: top;
  margin: 0 auto;
  border-radius: 50%;
}
.info h2,
.info p {
  color: navy;
  text-align: left;
  margin-left: 2rem;
}
.info p {
  font-size: 1.8rem;
  font-weight: 500;
}
.info .big {
  display: none;
}
.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.fa-brands {
  font-size: 2rem;
  cursor: pointer;
}
.fa-youtube{
  color: red;
}
.fa-x-twitter, .fa-github{
  color: black;
}
.fa-linkedin{
  color: blueviolet;
}
/* BIGGER SCREENS */
@media screen and (min-width: 750px) {
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
  }
  .hero .img {
    margin-top: 0rem;
  }
  .hero #my-pic {
    border-radius: 0px;
    height: 700px;
    width: 400px;
  }
  .info h2,
  .info p {
    font-size: 3.5rem;
  }
  .info .small {
    display: none;
  }
  .info .big {
    display: block;
  }
  .fa-brands {
    font-size: 5rem;
  }
}

/* ***************ABOUT SECTION**************** */
/* SMALLEST SCREEN SIZES */
.about {
  scroll-margin-top: 4.3rem;
  padding: 0 1rem;
}
.about .title {
  color: yellow;
  font-size: 3.4rem;
  font-weight: 500;
}
.about p {
  color: white;
  font-size: 1.7rem;
  font-weight: lighter;
}

@media screen and (min-width: 750px) {
  .about .title {
    font-size: 5rem;
  }
  .about p {
    word-spacing: 5px;
    font-size: 2.5rem;
    word-wrap: break-word;
  }
}

/* ***************SKILLS SECTION**************** */
/* SMALLEST SCREEN SIZES */
.skills {
  margin-top: 1rem;
  color: yellow;
  text-align: center;
  scroll-margin-top: 4.3rem;
}
.skills h2 {
  font-size: 3.4rem;
}
.sk-cont {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.sk-cont .tag {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  font-size: 1.7rem;
  border: 5px solid rgb(218, 213, 213);
  border-radius: 50px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .skills h2 {
    color: yellow;
    font-size: 5rem;
    font-weight: 500;
  }
  .sk-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.7rem;
  }
  .sk-cont .tag {
    padding: 2rem;
    font-size: 2.5rem;
  }
}

.hobby{
  color: white;
  margin: 1rem 0 1rem 2rem;
}
.hob-list div{
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ***************FOOTER SECTION**************** */
/* SMALLEST SCREEN SIZES */
footer {
  padding: 1rem;
  margin-top: 1rem;
  background-color: yellow;
  color: navy;
  text-align: center;
}
footer p {
  font-size: 1.4rem;
}
footer p a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 1.4rem;
}

@media screen and (min-width: 750px) {
  footer p {
    font-size: 2.2rem;
  }
  footer p a {
    font-size: 2rem;

    margin: 1.6rem;
  }
}




/* DESKTOP VIEW */
/* header {
    display: flex;
    background-color: rgb(2, 2, 75);
    color: aqua;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
}
header h1 {
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
}
header span {
    color: yellow;
}
nav li {
    list-style-type: none;
}
nav ul {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 30px;
    text-transform: capitalize;
    font-size: 20px;
}
nav li a:hover{
    cursor: pointer;
    background-color: rgb(2, 2, 75);
    color: yellow;
    font-size: 25px;
} */
